# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
venv/
.env
.env.*
.Python

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# VSCode
.vscode/

# macOS
.DS_Store

# Node
node_modules/

# Logs
*.log
